@model LaptopShopApp.Models.Contact.ContactVM
@{
    ViewData["Title"] = "Contact";
}
<h2>Contact us</h2>

<div class="contact-in">
    <div class="contact-map">
            <iframe class="align-items-center" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1234.6763582701947!2d23.034477616567283!3d42.60682732239356!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aacac3bbc30045%3A0x1282864432d70ccb!2z0J_QnNCTICLQpdGA0LjRgdGC0L4g0KHQvNC40YDQvdC10L3RgdC60Lgi!5e0!3m2!1sbg!2sbg!4v1741817288030!5m2!1sbg!2sbg" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    <div class="contact-form">
      <h1>Send message</h1>
      <form asp-action="Contact" method="post">
            <input asp-for="Name" class="contact-form-txt" placeholder="Name" />
            <input asp-for="Email" class="contact-form-txt" placeholder="Email" />
            <textarea asp-for="Message" class="contact-form-textarea" placeholder="Message"></textarea>
            <input type="submit" value="Submit" class="contact-form-btn" />
        </form>
    </div>
  </div>
<link rel="stylesheet" href="~/css/Contact.css"/>