@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в нашия сайт!</h1>
    <p>Тук може да намерите най-качествените лаптопи и аксесоари за тях!.</p>
</div>
