@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container" style="position: relative;">
        <div class="text-conteiner" style="display:flex;justify-content:center;position:absolute;margin:100px 0px 0px 80px;width: 600px;height: 500px; ">
            <h1 style="position:absolute;font-size:55px;width: 700px;text-align:center;" class="text-white">Welcome to LaptopShop</h1>
            <p style="position:absolute;margin:100px; text-align:center;width:600px;" class="text-white">
            Here you can find the best laptops,text-align:center; and accessories for ur setup!
            Where next-gen laptops meet game-changing gear. From lightning-fast machines 
            to the sharpest accessories, we’ve got everything you need to dominate work, play, and everything in between.
            </p>
            <p style="position:absolute;margin:200px 200px 0px 0px; width:400px; text-align:start;" class="text-white">
                <b>
                <span>🔥 Top Brands. Killer Deals. Always In Stock.</span> <br />
                <span>🎧 Mice that respond like instinct.</span><br />
                <span>⌨️ Keyboards that feel like magic.</span><br />
                <span>🖥️ Screens so crisp you’ll forget real life.</span><br />
                </b>
            </p>
            <p style="position:absolute;margin:350px; width:300px;" class="text-white">Click the button and get started</p>
            <a class="btn btn-light" style="position:absolute;margin:450px" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
        </div>
        <img src="~/IMG/Laptop.png" style=" position:absolute; margin:80px 0px 0px 650px" />
        <img src="~/IMG/0d6efd.png" class="blue-background" width="1350" height="600" style="margin:40px 50px 0px -10px;" />
    </div>
    @* <img width="1000" height="500" src="~/IMG/image.png" style="margin-top: 20px;" />
    <p>Тук може да намерите най-качествените лаптопи и аксесоари за тях!.</p> *@
</div>

