@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Contacts</h1>

<p>Aleksandar Mihaylov XIIБ</p>

<p class="text-center">ПМГ "Христо Смирненски"</p>
<iframe class="align-items-center" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1234.6763582701947!2d23.034477616567283!3d42.60682732239356!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aacac3bbc30045%3A0x1282864432d70ccb!2z0J_QnNCTICLQpdGA0LjRgdGC0L4g0KHQvNC40YDQvdC10L3RgdC60Lgi!5e0!3m2!1sbg!2sbg!4v1741817288030!5m2!1sbg!2sbg" width="1300" height="700" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>