@{
    ViewData["Title"] = "EmptyIndex";
}
<div class="empty-cart">
    <h2>Your Shopping Cart is Empty</h2>
    <p>There are no products in your cart. Please add some products to your cart.</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
</div>